{
  "parser"  : "babel-eslint",
  "plugins": [
    "import"
  ],
  "extends" : ["airbnb"],
  "rules": {
    // Soft some rules.
    "default-case": 0, // Required default case is nonsense.
    "indent": [2, 4, { 'SwitchCase': 1, 'VariableDeclarator': 1 }],
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}], // For Record() etc.
    "no-floating-decimal": 0, // .5 is just fine.
    "no-nested-ternary": 0, // It's nice for JSX.
    "no-param-reassign": 0, // We love param reassignment. Naming is hard.
    "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
    // eslint-plugin-import
    "import/no-unresolved": [2, {"commonjs": true}],
    "import/no-extraneous-dependencies": 0,
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/export": 2,
    // Overide Stateless
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-unused-prop-types": 0,
    // this could be on, but I have to resolve couple of things
    // see https://github.com/eslint/eslint/issues/5139
    "class-methods-use-this": "off",
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "it": false,
    "require": false
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  }
}
