{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "react", "prettier", "react-native"],
  "rules": {
    "prettier/prettier": "error",
    "new-cap": [2, { "capIsNew": false, "newIsCap": true }],
    "import/no-unresolved": [2, { "commonjs": true }],
    "import/no-extraneous-dependencies": 0,
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/export": 2,
    "react/require-default-props": 0,
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/sort-comp": [
      2,
      {
        "order": [
          "/^context$/",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ]
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "it": false,
    "require": false
  },
  "settings": {
    "import/ignore": ["node_modules", "\\.json$"],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".ios.js",
        ".android.js",
        ".web.js",
        ".jsx",
        ".json"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js",
          ".web.js",
          ".jsx",
          ".json"
        ]
      }
    }
  }
}
